.result {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.result h3 {
    margin: 0;
}
.result p {
    margin: 5px 0;
}

.resultsContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
    transition: transform 0.5s ease;
    gap: 30px;
}

.filtrage {
    width: 80%;
    margin: auto;
    max-height: 0;
    transition: all 0.4s ease;
    overflow: hidden;
}

.filtrage.ouvert{
    max-height: 500px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}


div.role-acteur{
    display: flex;
    gap: 5px;
    justify-content: flex-start;
}

.filtrage form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filtrage .description{
    height: 40px;
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.filtrage input{
    height: 40px;
    border-radius: 6px;
    border: 1px solid gray;
}

.tagify{
    border-radius: 6px;
    border: 1px solid gray !important;
}

.filtrage .selects{
    height: 40px;
    margin-bottom: 5px;
}

.filtrage select{
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
    height: 40px;
}

.filtrage .tagify{
    margin-bottom: 5px;
}

#Valider{
    height: 36px;
}

#Valider,
#add-role {
    background-color: #f09520;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100px;
}

#add-role{
    width: fit-content;
}

#Valider:hover,
#add-role:hover {
    background-color: #c72027;
    transform: scale(1.05);
}

form > div{
    display: flex;
    justify-content: space-between;
}

.btn-afficher-filtres{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
}

.btn-afficher-filtres svg{
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
    transition: all 0.4s ease;
}

.btn-afficher-filtres.ouvert svg{
    transform: rotate(-90deg);
}

.result a{
    display: flex;
    gap: 20px;
}
.result a:hover{
    transform: none;
}

.result .miniature{
    overflow: hidden;
    display: flex;
    border-radius: 5px;
}

.result .info-video .description{
    font-weight: 300;
}

.result .miniature img{
    transition: all 0.2s ease;
}

.result a:hover .miniature img{
    transform: scale(1.05);
}

.result a:hover .info-video p{
    color: #686868;
}